#body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: var(--sp-40) var(--sp-16) 0 var(--sp-16);
  @include responsive($tablet) {
    padding: 30px;
  }
}

#header {
  grid-column: 1 / -1;
  color: var(--abs-white);

  margin-bottom: var(--sp-40);
}

#main {
  background-color: var(--white-97);
  grid-column: 1 / -1;
  display: grid;
  row-gap: var(--sp-40);
  
  @include responsive($tablet) {
    padding-inline: 30px;
  }
}

#footer {
  margin: 5rem 0;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: var(--white-97);
  @include responsive($tablet) {
    padding: 20px 80px;
    flex-direction: row;
    justify-content: space-between;
  }
}
