#body {
  padding: 10px 0;
  @include responsive($tablet) {
    padding: 30px;
  }
}

#header {
  color: var(--abs-white);
  margin-inline: 1rem;
  margin-bottom: var(--sp-40);
}

#main {
  display: grid;
  row-gap: 20px;
  padding: 0 12px;
}

#footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: var(--white-97);
  @include responsive($tablet) {
    padding: 20px 80px;
    flex-direction: row;
    justify-content: space-between;
  }
}
