:root {
  --abs-white: #fff;
  --abs-black: #000;
  --orange-50: #ff9500;
  --orange-70: #ffbf66;
  --orange-75: #ffca80;
  --orange-80: #ffca80;
  --orange-90: #ffeacc;
  --orange-95: #fff4e5;
  --orange-97: #fff9f0;
  --orange-99: #fffdfa;
  --white-90: #e4e4e7;
  --white-95: #f1f1f3;
  --white-97: #f7f7f8;
  --white-99: #fcfcfd;
  --grey-10: #1a1a1a;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-30: #4c4c4d;
  --grey-35: #59595a;
  --grey-40: #656567;
  --grey-60: #98989a;
  --grey-70: #b3b3b3;
  --reg: 300;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 900;
  --sp-16: 16px;
  --sp-30: 30px;
  --sp-40: 40px;
  --sp-50: 50px;
  --sp-76: 76px;
  --sp-154: 154px;
  --rad-6: 6px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body > #root > div {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: var(--reg);
  color: var(--grey-15);
}

image {
  display: block;
}

button {
  border: none;
  color: inherit;
}

button:hover{
  cursor: pointer;
}

#body {
  padding: 10px 0;
}
@media (min-width: 700px) {
  #body {
    padding: 30px;
  }
}

#header {
  color: var(--abs-white);
  margin-inline: 1rem;
  margin-bottom: var(--sp-40);
}

#main {
  display: grid;
  row-gap: 20px;
  padding: 0 12px;
}

#footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: var(--white-97);
}
@media (min-width: 700px) {
  #footer {
    padding: 20px 80px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.btn-medium {
  width: var(--sp-76);
  height: var(--sp-40);
  border-radius: var(--rad-6);
}

.btn-lg {
  border-radius: var(--rad-6);
  height: var(--sp-50);
  width: var(--sp-154);
}

.bg-orange-50 {
  background-color: var(--orange-50);
}

.bg-orange-80 {
  background-color: var(--orange-80);
}

.bg-orange-95 {
  background-color: var(--orange-95);
}

.bg-orange-97 {
  background-color: var(--orange-97);
}

.bg-white {
  background-color: var(--abs-white);
}

.bg-white-97 {
  background-color: var(--white-97);
}

.bg-white-95 {
  background-color: var(--white-95);
}

.grey-60 {
  color: var(--grey-60);
}

.grey-35 {
  color: var(--grey-35);
}

.orange-50 {
  color: var(--orange-50);
}

.grey-15 {
  color: var(--grey-15);
}

.black {
  color: var(--abs-black);
}

.white {
  color: var(--abs-white);
}

.white-97 {
  background-color: var(--white-97);
}

.icon {
  height: inherit;
}

.icon-sm {
  width: 20px;
  height: 20px;
}

.icon-m {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 39px;
  height: 43px;
}

.p-5 {
  padding: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-12 {
  padding: 12px;
}

.p-x-24 {
  padding: 0 24px;
}

.p-x-5 {
  padding: 0 5px;
}

.p-x-15 {
  padding: 0 10px;
}

.p-y-14 {
  padding: 14px 0;
}

.p-y-24 {
  padding: 24px 0;
}

.m-t-10 {
  margin-top: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-y-20 {
  margin: 20px 0;
}

.rad-6 {
  border-radius: var(--rad-6);
}

.fly {
  position: absolute;
  top: -20px;
  left: -10px;
}

.fs-24 {
  font-size: 24px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.align-right {
  text-align: right;
}

.medium {
  font-weight: var(--medium);
}

.semi-bold {
  font-weight: var(--semi-bold);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.flex {
  display: flex;
}

.sp-btw {
  justify-content: space-between;
}

.align-end {
  align-self: end;
}

.align-start {
  align-self: flex-start;
}

.center {
  text-align: center;
}

.video {
  background-color: var(--orange-95);
  height: clamp(17.125rem, 13.5137rem + 15.4083vw, 23.375rem);
}

.hero {
  border: 1px solid var(--white-97);
  background-color: var(--white-97);
  padding: 10px;
  border-radius: var(--rad-6);
}
@media (min-width: 700px) {
  .hero {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero--title {
  line-height: 1.5;
  font-size: 28px;
  font-weight: var(--semi-bold);
  padding-bottom: 3px;
}
@media (min-width: 700px) {
  .hero--title {
    width: 60%;
  }
}

.hero--description {
  font-size: 14px;
  color: var(--grey-35);
}

.lessons {
  display: grid;
  gap: 1rem;
  background-color: var(--white-97);
  padding: 10px;
}
@media (min-width: 700px) {
  .lessons {
    grid-template-columns: repeat(2, 1fr);
  }
}

.lesson {
  border: 1px solid var(--white-99);
  background-color: var(--white-99);
  padding: 30px;
  display: grid;
  row-gap: 2rem;
}

.lesson--number {
  text-align: right;
  font-weight: var(--bold);
  font-size: 50px;
}

.lesson--title {
  line-height: 1.5;
  font-size: 18px;
  font-weight: var(--semi-bold);
  color: var(--grey-35);
}

.topiccs {
  display: grid;
  row-gap: 1rem;
}

.topicc {
  border: 1px solid var(--white-95);
  border-radius: var(--rad-6);
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media (min-width: 700px) {
  .topiccs {
    grid-template-columns: 1fr; /* Adjust column width as needed */
  }

  .topicc {
    flex-direction: row; /* Change flex direction to row */
    justify-content: space-between; /* Align items along the main axis */
    align-items: center
  }

  .topicc--duration {
    background-color: var(--white-95);
    color: var(--grey-35);
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: var(--rad-6);
    margin-left: auto;
  }
}

.topicc:hover,
.topicc:active {
  border: 1px solid var(--orange-80);
  box-shadow: 0px 0px 0px 3px var(--orange-95);
}

.topicc:hover .topicc--duration {
  background-color: var(--orange-80);
}

.topicc--title,
.topicc--number {
  margin: auto; /* Adjust margin between title and number */
}

.topicc--title {
  line-height: 1.5;
  font-weight: var(--medium);
}

.topicc--number {
  font-size: 13px;
  color: var(--grey-35);
  border: 1px solid var(--white-97);
  padding: 5px;
}

.topicc--duration {
  background-color: var(--white-95);
  color: var(--grey-35);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: var(--rad-6);
  /* margin: auto;  */
} /*# sourceMappingURL=course.css.map */
