.header--info {
  background-color: var(--orange-50);
  height: var(--sp-40);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  border-radius: var(--rad-6);
}
.nav {
  display: flex;
  padding: var(--sp-16) 0;
  justify-content: space-around;
  align-items: center;
}

.nav--bar {
  margin-left: auto;
}
.nav--hamburger {
  @include responsive($tablet) {
    display: none;
  }
}
.nav--menu {
  display: none;
  @include responsive($tablet) {
    display: block;
    color: var(--grey-15);
    display: flex;
    row-gap: 10px;
  }
}
.nav--menu--list {
  list-style: none;
  padding: 12px 20px;
}
.nav--menu--list:hover {
  background-color: var(--white-95);
  border-radius: var(--rad-6);
}
//
//
//
.heroo {
  background-color: var(--white-97);
  text-align: center;
  padding: 0.5rem 0 ;
  @include responsive($tablet) {
    width: 80%;
    margin-inline: auto;
  }
}
.heroo--top {
  height: var(--sp-76);
  display: flex;
  align-items: center;
  padding: var(--sp-16);
  column-gap: var(--sp-16);
  font-weight: var(--semi-bold);
  color: var(--grey-10);
  word-spacing: 0.1em;

  border: 1px solid var(--white-95);
  position: relative;

  @include responsive($tablet) {
    font-weight: var(--bold);
    font-size: 36px;
    padding: 10px;
    width: fit-content;
    margin-inline: auto;
  }
}
.heroo--center {
  align-items: center;
  font-weight: var(--medium);
  line-height: 1.5;

  & div {
    margin-inline: auto;
  }
}
.heroo--bottom {
  padding-top: var(--sp-50);
}
//
.company-logos {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  border: 1px solid var(--white-95);
  // ****** come back hard coded 340px not good
  padding-left: 340px;

  @include responsive($tablet) {
    padding: 24px;
    justify-content: space-evenly;
  }

  & figure {
    height: 64px;
    width: 112px;
  }
  & figure:not(:last-child) {
    border-right: 1px solid var(--white-95);
  }
}
//
.video {
  background-color: var(--orange-95);
  height: clamp(17.125rem, 13.5137rem + 15.4083vw, 23.375rem);
}
//
.info {
  background-color: var(--white-97);
  display: grid;
  row-gap: 40px;
  padding: 10px;
  color: var(--gray-15);
}
.info--main {
  display: flex;
  flex-direction: column;
  @include responsive($tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  & button {
    @include responsive($tablet) {
      align-self: end;
    }
  }
}
.info--title {
  font-weight: var(--semi-bold);
  height: var(--sp-40);
  display: flex;
  align-items: center;
  font-size: 28px;
  @include responsive($tablet) {
    font-size: 38px;
  }
}
.info--description {
  line-height: 1.5;
  font-size: var(--sp-16);
  color: var(--grey-35);
  padding-bottom: 20px;
  @include responsive($tablet) {
    width: 60%;
  }
}
.benefits,
.coursees,
.testimonials {
  margin-top: 40px;
  display: grid;
  gap: 30px;
  line-height: 1.5;
}
.benefits {
  @include responsive($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.coursees {
  @include responsive($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.testimonials {
  @include responsive($tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
//
.benefit {
  background-color: var(--abs-white);
  padding: 27px;
  display: grid;
  border: 1px solid var(--white-90);
  border-radius: var(--rad-6);
}
.benefit--number {
  font-size: var(--sp-50);
  font-weight: var(--bold);
  text-align: right;
}
.benefit--topic {
  font-weight: var(--semi-bold);
  font-size: 20px;
  color: var(--grey-20);
}
.benefit--description {
  color: var(--grey-60);
  font-size: 14px;
}
//

.coursee {
  background-color: var(--abs-white);
  border: 1px solid var(--white-90);
  padding: 10px;
  display: grid;
  row-gap: 25px;
  border-radius: var(--rad-6);
}
.coursee--img {
  width: 100%;
}
.coursee--instructor {
  font-weight: var(--reg);
  padding: 10px 0;
  font-size: 24px;
}
.coursee--title {
  font-weight: var(--medium);
}
.coursee--meta{
  @include responsive($tablet){
      display: inline-block;
  }
}
.coursee--duration,
.coursee--difficulty {
  font-weight: var(--reg);
  display: inline-block;
  height: 34px;
  border: 2px solid var(--white-95);
  padding: 8px 14px;
  color: var(--grey-30);
  border-radius: var(--rad-6);
  margin: 10px 0;
  font-size: min(14px, 3.5vw); /* Adjust the maximum font size as needed */
  max-width: 150px; /* Adjust the maximum width of the container */
  overflow: hidden; /* Hide any content that overflows the box */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
  white-space: nowrap;
}
.coursee--description,
.testimonial--description {
  color: var(--grey-40);
  font-size: 14px;
}
//
.testimonial {
  padding: 20px;
  background-color: var(--abs-white);
}
.witness {
  border-top: 1px solid var(--white-90);
  margin-top: 15px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.witness--name {
  font-weight: var(--semi-bold);
}
//
.pricing--btn-container {
  height: fit-content;
  padding: 12px;
  background-color: var(--white);
  border: 1px solid var(--white-95);
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.vouchers {
  display: grid;
  gap: 30px;
  background-color: var(--abs-white);
  @include responsive($tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.voucher {
  display: grid;
  row-gap: 30px;
  border: 1px solid var(--abs-white);
  border-radius: var(--rad-6);
  padding: 20px;
  background-color: var(--abs-white);
}
.voucher--type {
  padding: 8px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--orange-90);
}
.voucher--meta {
  text-align: center;
}
.voucher--price {
  font-size: var(--sp-50);
  font-weight: var(--semi-bold);
}
.voucher--duration {
  color: var(--grey-30);
}
.voucher-features {
  display: grid;
  row-gap: 20px;
  text-align: center;
  border: 1px solid var(--white-90);
  border-radius: var(--rad-6);
}
.voucher-features--title {
  padding-top: 15px;
  font-size: 18px;
  font-weight: var(--semi-bold);
}
.voucher--feature {
  margin-inline: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px;
  background-color: var(--white-97);
  color: var(--grey-30);
}

//
.faqs--container {
  padding: 2rem 0;
  @include responsive($tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.faqs {
  display: grid;
  line-height: 1.5;
}
.faq {
  background-color: var(--abs-white);
  padding: 20px;
  border-radius: 1px solid var(--white-95);
  & p {
    margin: 10px;
    padding: 10px;
    border-top: 1px solid var(--grey-60);
  }
}
.faq--detail {
  font-size: 14px;
  color: var(--grey-30);
  border: 1px solid var(--white-95);
  padding: 5px;
  position: relative;
  padding: 20px;
}

.faq--detail[open] .faq--summary {
  list-style: none;
}
.faq--summary {
  color: var(--grey-15);
  font-weight: var(--medium);
  font-size: 17px;
  width: 80%;

  list-style: none;
}

.faq--summary::after {
  content: url("/assets/icons/plus.svg");
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background-color: var(--orange-95);

  height: 20px;
}

//

.summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include responsive($tablet) {
    column-gap: 5rem;
  }
}
.summary--item {
  color: var(--grey-35);
}
