// buttons
.btn-medium {
  width: var(--sp-76);
  height: var(--sp-40);
  border-radius: var(--rad-6);
}
.btn-lg {
  border-radius: var(--rad-6);
  height: var(--sp-50);
  width: var(--sp-154);
}

// colors
.bg-orange-50 {
  background-color: var(--orange-50);
}
.bg-orange-80 {
  background-color: var(--orange-80);
}
.bg-orange-95 {
  background-color: var(--orange-95);
}
.bg-orange-97 {
  background-color: var(--orange-97);
}

.bg-white {
  background-color: var(--abs-white);
}
.bg-white-97{
  background-color: var(--white-97);
}
.bg-white-95 {
  background-color: var(--white-95);
}
.grey-60 {
  color: var(--grey-60);
}

.orange-50 {
  color: var(--orange-50);
}
.grey-15 {
  color: var(--grey-15);
}

.black {
  color: var(--abs-black);
}
.white {
  color: var(--abs-white);
}
.white-97{
  background-color: var(--white-97);
}

// icons
.icon {
  height: inherit;
}
.icon-sm {
  width: 20px;
  height: 20px;
}
.icon-m {
  width: 24px;
  height: 24px;
}
.icon-lg {
  width: 39px;
  height: 43px;
}

// paddings
.p-5 {
  padding: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-12 {
  padding: 12px;
}
.p-x-24 {
  padding: 0 24px;
}
.p-x-5 {
  padding: 0 5px;
}
.p-y-14 {
  padding: 14px 0;
}
.p-y-24 {
  padding: 24px 0;
}
.rad-6 {
  border-radius: var(--rad-6);
}
// offsets
.fly {
  position: absolute;
  top: -20px;
  left: -10px;
}

// typography
.fs-24 {
  font-size: 24px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.align-right {
  text-align: right;
}
.medium {
  font-size: var(--medium);
}
.semi-bold {
  font-weight: var(--semi-bold);
}
//
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.flex {
  display: flex;
}
.sp-btw {
  justify-content: space-between;
}
.align-end {
  align-self: end;
}
